service:
  type: ClusterIP
  port: 8080

dynamodb:
  enabled: true
  auth:
    database: bedrockdb
    username: bedrockuser
    password: bedrockpass
  primary:
    persistence:
      enabled: true
      size: 4Gi

resources:
  limits:
    cpu: 300m
    memory: 384Mi
  requests:
    cpu: 150m
    memory: 192Mi

autoscaling:
  enabled: false