service:
  type: ClusterIP
  port: 8080

redis:
  enabled: true
  architecture: standalone
  auth:
    enabled: false

resources:
  limits:
    cpu: 300m
    memory: 384Mi
  requests:
    cpu: 150m
    memory: 192Mi

autoscaling:
  enabled: false